<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li class="tab col s6"><a href="#register">Register</a></li>
      </ul>
    </div>

    <div id="login" class="col s6 offset-s3">
      <h1>Enter the app</h1>
      <form action="#" method="post">
        <div class="input-field">
          <input id="email" name="email" type="text" class="validate" required>
          <label for="email">Email</label>
          <span class="helper-text" data-error="Enter the email"></span>
        </div>
        <div class="input-field">
          <input id="password" name="password" type="number" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Enter the password"></span>
        </div>
        <button class="btn btn-primary">Log in</button>
      </form>
    </div>

    <div id="register" class="col s6 offset-s3">
      <h1>Create account</h1>
      <form action="#" method="post">
        <div class="input-field">
          <input id="remail" name="email" type="text" class="validate" required>
          <label for="remail">Email</label>
          <span class="helper-text" data-error="Enter the email"></span>
        </div>
        <div class="input-field">
          <input id="rpassword" name="password" type="number" class="validate" required>
          <label for="rpassword">Password</label>
          <span class="helper-text" data-error="Enter the password"></span>
        </div>
        <div class="input-field">
          <input id="repeat-password" name="password" type="number" class="validate" required>
          <label for="repeat-password">Repeat password</label>
          <span class="helper-text" data-error="Enter the password"></span>
        </div>
        <button class="btn btn-primary">Register</button>
      </form>
    </div>

  </div>
</div>

